5.991s NetworkManager-wait-online.service
5.872s fwupd-refresh.service
3.076s snapd.seeded.service
3.019s fwupd.service
2.998s snapd.service
2.341s logrotate.service
2.155s NetworkManager.service
1.056s systemd-resolved.service
 985ms systemd-timesyncd.service
 964ms systemd-binfmt.service
 912ms proc-sys-fs-binfmt_misc.mount
 827ms snapd.apparmor.service
 804ms apt-daily-upgrade.service
 763ms dev-sda1.device
 663ms neon-apt-mark-kernels-auto.service
 653ms gpu-manager.service
 600ms dpkg-db-backup.service
 549ms udisks2.service
 541ms rsyslog.service
 525ms polkit.service
 521ms power-profiles-daemon.service
 479ms accounts-daemon.service
 429ms e2scrub_reap.service
 407ms grub-common.service
 386ms avahi-daemon.service
 348ms lm-sensors.service
 323ms apparmor.service
 310ms user@1000.service
 283ms systemd-udev-trigger.service
 281ms switcheroo-control.service
 276ms ModemManager.service
 258ms smartmontools.service
 225ms systemd-logind.service
 222ms thermald.service
 221ms dev-loop1.device
 218ms dev-loop0.device
 206ms dbus.service
 204ms dev-loop2.device
 195ms systemd-journald.service
 186ms dev-loop3.device
 186ms nmbd.service
 185ms keyboard-setup.service
 169ms update-notifier-download.service
 150ms systemd-journal-flush.service
 144ms systemd-udevd.service
 140ms lvm2-monitor.service
 136ms sysstat.service
 127ms upower.service
 114ms smbd.service
 108ms tmp.mount
 100ms samba-ad-dc.service
  96ms systemd-tmpfiles-setup.service
  93ms systemd-modules-load.service
  82ms grub-initrd-fallback.service
  81ms dev-hugepages.mount
  79ms dev-mqueue.mount
  79ms wpa_supplicant.service
  77ms sys-kernel-debug.mount
  76ms sys-kernel-tracing.mount
  71ms cups.service
  64ms modprobe@configfs.service
  63ms systemd-tmpfiles-clean.service
  62ms kmod-static-nodes.service
  60ms packagekit.service
  59ms modprobe@dm_mod.service
  57ms modprobe@efi_pstore.service
  56ms modprobe@drm.service
  53ms plymouth-start.service
  53ms modprobe@loop.service
  53ms modprobe@fuse.service
  44ms systemd-sysctl.service
  41ms plymouth-quit-wait.service
  41ms systemd-tmpfiles-setup-dev-early.service
  41ms plymouth-read-write.service
  38ms ufw.service
  34ms systemd-remount-fs.service
  33ms systemd-update-utmp.service
  32ms systemd-tmpfiles-setup-dev.service
  31ms plymouth-quit.service
  29ms console-setup.service
  27ms sys-fs-fuse-connections.mount
  27ms snap-code-254.mount
  25ms snap-snapd-27591.mount
  25ms snap-code-253.mount
  23ms sys-kernel-config.mount
  23ms systemd-random-seed.service
  22ms dev-disk-by\x2duuid-2c1fd567\x2dcbbb\x2d4468\x2d958d\x2df563d91dc5c5.swap
  22ms alsa-restore.service
  21ms snap-core20-2866.mount
  18ms sysstat-collect.service
  16ms plasmalogin.service
  16ms rtkit-daemon.service
  15ms setvtrgb.service
  14ms user-runtime-dir@1000.service
  14ms systemd-rfkill.service
   8ms systemd-user-sessions.service
   7ms systemd-backlight@backlight:acpi_video0.service
   7ms systemd-update-utmp-runlevel.service
   6ms snapd.socket
   3ms modprobe@sd_mod.service
  46us blk-availability.service
